.App{
    @import "Header";
    pre{
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        border-radius: 3px;
        line-height: 1;
        font-family:"Operator Mono", 'Courier New', 'Courier', 'monospace';
    }
    main{
        display: flex;
        @import "Form";  
        @import "Preview";     
    }
}