.Header {
    background-color: blanchedalmond;

    h1 {
        padding: 10px;
        text-align: center;
        
    }

    &.Dark {
        
        background-color: #333;
        color: #fff;
    }
}
